# Data Analyst Associate Practical Exam Submission

### *Pet Box Subscription - provided background information*

*PetMind is a nationwide pet product retailer in the United States. With inflation hitting 41-year
highs, the company is planning to reduce the cost of customer retention by improving brand
loyalty. The first strategy is to launch a monthly pet box subscription in three months.
The marketing team is preparing a list of popular products for the pet box subscription. The
chief marketing officer wants to know whether the list should only include the products being
purchased more than once.*

## Data Validation

There are 3 main tasks i have done during data validation.
- Convert Dtype as instructions.
- Subset the dataset from 879 to 833 entries.
- Examine the values using info()、describe()、value_counts()、hist()、nunique()...
I Confirmed provided dataset is clean.

| #                  | 0                               | 1                                  | 2                    |
| ------------------ | ------------------------------- | ---------------------------------- | -------------------- |
| **columns**            | **product\_id**                     | **product\_category**                  | **sales**                |
| Original Dtype     | int64                           | object                             | object               |
| Modified Dtype     | int64                           | category                           | int64                |
| What I do /I found | No duplicated IDs can be found. | Exactly 11 categories as expected. | No suspicous values. |
| Changes            | None                            | Modify Dtype                       | Modify Dtype         |

#### 'sales' column: I strip/replace the signs within text, and change the dtype to integer.

| #                  | 3                    | 4                               | 5                                 |
| ------------------ | -------------------- | ------------------------------- | --------------------------------- |
| **columns**            | **price**                | **vendor\_id**                      | **pet\_size**                         |
| Original Dtype     | float64              | object                          | object                            |
| Modified Dtype     | float64              | string                          | category                          |
| What I do /I found | No suspicous values. | No duplicated IDs can be found. | Exactly 5 categories as expected. |
| Changes            | None                 | Modify Dtype                    | Modify Dtype                      |

| #                  | 6                                      | 7                | 8                        |
| ------------------ | -------------------------------------- | ---------------- | ------------------------ |
| **columns**            | **pet\_type**                              | **rating**           | **re\_buy**                  |
| Original Dtype     | object                                 | int64            | int64                    |
| Modified Dtype     | category                               | int64            | bool                     |
| What I do /I found | Subset according to instructions.      | Values are 1-10. | Original values are 0/1. |
| Changes            | 1.Modify Dtype<br>2.Subset to 833 entries | None             | Modify Dtype             |

#### 'pet_type' column: Remove products for 'hamster'/'rabbit'. There are 833 entries left.

#### 're_buy' column: Convert dtype to boolean, 0->False, 1->True.

## Data Discovery and Visualization

### 1. How many products are being purchased more than once?

Using 're_buy' column as indicator, 443 entries are False, 390 entries are True.  
Therefore, **390 products are being purchased more than once.**

![How many products are being purchased](rebuy_count.png)

### 2. Do the products being purchased again have better sales than others?

**No, the products being purchased again don't have better sales than others.**  
Two groups have similar mean, median and distribution.

| re\_buy | count | mean        | std         | min  | 25%   | 50%    | 75%    | max    |
| ------- | ----- | ----------- | ----------- | ---- | ----- | ------ | ------ | ------ |
| ONCE   | 443   | 115406.3205 | 67746.08005 | 3000 | 57000 | 116000 | 179500 | 230000 |
| AGAIN    | 390   | 116889.7436 | 64750.26692 | 3000 | 61000 | 117500 | 176750 | 230000 |

![sales between groups](sales_between_groups.png)

![Two groups have similar sales distribution](sales_count.png)

Purchased more than once(orange bar) & Purchased once(blue bar) have similar distribution in sales.

### 3. What products are more likely to be purchased again for different types of pets?

Some product categories are more likely to be purchased again for different types of pets.  
Top sales product list are provided in the appendix.

- bird: no particular product categories are more likely to be purchased again.
- cat: Equipment and Food products are more likely to be purchased again.
- dog: Bedding, Equipment and Medicine are more likely to be purchased again.
- fish: Housing products are more likely to be purchased again.

![Products count of purchased once/again of Different types of pets](product_category.png)

### Suggestions to the business questions

According to the data, the pet box subscription product list **should not only include the products being
purchased more than once.** Because the products being purchased again don't have better sales than others.

Some product categories are more likely to be purchased again, marketing team can refer to the results.

### Appendix - Top sales products list

These lists are first filtered by 'purchased more than once' and group by pet type, then selected due to highest 'sales quantity estimation'. (ie. total sales divided by price per product)

These lists intented to serve as additional reference for the marketing team.

#### Bird

| product\_id | product\_category | sales  | price | vendor\_id | pet\_size    | pet\_type | rating | re\_buy | quantity |
| ----------- | ----------------- | ------ | ----- | ---------- | ------------ | --------- | ------ | ------- | -------- |
| 5037        | Equipment         | 157000 | 0.35  | VC\_1602   | medium       | bird      | 7      | TRUE    | 448571   |
| 4242        | Food              | 142000 | 14.42 | VC\_807    | small        | bird      | 3      | TRUE    | 9847     |
| 5017        | Snack             | 146000 | 20.15 | VC\_1582   | medium       | bird      | 6      | TRUE    | 7245     |
| 4200        | Equipment         | 151000 | 65.79 | VC\_765    | extra\_small | bird      | 1      | TRUE    | 2295     |
| 5035        | Snack             | 198000 | 94.29 | VC\_1600   | medium       | bird      | 7      | TRUE    | 2099     |

#### Cat

| product\_id | product\_category | sales  | price | vendor\_id | pet\_size    | pet\_type | rating | re\_buy | quantity |
| ----------- | ----------------- | ------ | ----- | ---------- | ------------ | --------- | ------ | ------- | -------- |
| 4755        | Food              | 157000 | 2.35  | VC\_1320   | medium       | cat       | 7      | TRUE    | 66808    |
| 4587        | Bedding           | 202000 | 13.29 | VC\_1152   | small        | cat       | 10     | TRUE    | 15199    |
| 4341        | Food              | 126000 | 10.92 | VC\_906    | extra\_large | cat       | 5      | TRUE    | 11538    |
| 4583        | Food              | 228000 | 22.16 | VC\_1148   | medium       | cat       | 10     | TRUE    | 10288    |
| 4797        | Equipment         | 189000 | 24.1  | VC\_1362   | medium       | cat       | 7      | TRUE    | 7842     |

#### Dog

| product\_id | product\_category | sales  | price | vendor\_id | pet\_size    | pet\_type | rating | re\_buy | quantity |
| ----------- | ----------------- | ------ | ----- | ---------- | ------------ | --------- | ------ | ------- | -------- |
| 4520        | Clothes           | 141000 | 3.33  | VC\_1085   | extra\_small | dog       | 4      | TRUE    | 42342    |
| 4500        | Housing           | 177000 | 4.76  | VC\_1065   | extra\_small | dog       | 8      | TRUE    | 37184    |
| 4390        | Housing           | 120000 | 4.41  | VC\_955    | extra\_small | dog       | 5      | TRUE    | 27210    |
| 4540        | Snack             | 177000 | 8.97  | VC\_1105   | extra\_small | dog       | 10     | TRUE    | 19732    |
| 4620        | Bedding           | 199000 | 13.51 | VC\_1185   | extra\_small | dog       | 10     | TRUE    | 14729    |

#### Fish

| product\_id | product\_category | sales  | price | vendor\_id | pet\_size    | pet\_type | rating | re\_buy | quantity |
| ----------- | ----------------- | ------ | ----- | ---------- | ------------ | --------- | ------ | ------- | -------- |
| 5030        | Toys              | 133000 | 8.84  | VC\_1595   | small        | fish      | 6      | TRUE    | 15045    |
| 4271        | Medicine          | 188000 | 22.01 | VC\_836    | extra\_large | fish      | 4      | TRUE    | 8541     |
| 4217        | Supplements       | 177000 | 36.11 | VC\_782    | small        | fish      | 6      | TRUE    | 4901     |
| 5014        | Snack             | 111000 | 28.85 | VC\_1579   | small        | fish      | 6      | TRUE    | 3847     |
| 5032        | Snack             | 132000 | 67.91 | VC\_1597   | small        | fish      | 6      | TRUE    | 1943     |